<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--id : bean 的唯一标识， class: 具体的实现类-->
    <bean id="oneInterface" class="com.self.ddyoung.daily.interfaces.OneInterfaceImpl"/>
</beans>